In [ ]:
from ticclat.ingest import run

In [ ]:
import ticclat.ingest
ticclat.ingest.__file__

In [ ]:
run(ingest=False, reset_anahashes=True, tmpdir='/tmp',
    alphabet_file='/Users/pbos/projects/ticclat/data/ponyland_mreynaert_TICCLAT/ALPH/nld.aspell.dict.clip20.lc.LD3.charconfus.clip20.lc.chars')

```mysql
mysql> select * from anahashes;
+------------+-------------+
| anahash_id | anahash     |
+------------+-------------+
|          4 | 67979407968 |
+------------+-------------+
1 row in set (0.00 sec)
```

In [ ]:
run(ingest=False, reset_anahashes=True, tmpdir='/tmp',
    alphabet_file='/Users/pbos/projects/ticclat/data/nld.aspell.dict.lc.chars')

```mysql
mysql> select * from anahashes;
+------------+-------------+
| anahash_id | anahash     |
+------------+-------------+
|          5 | 65690238976 |
+------------+-------------+
1 row in set (0.00 sec)
```

In [ ]:
run(ingest=False, reset_anahashes=True, tmpdir='/tmp', anahash=False,
    alphabet_file='/Users/pbos/projects/ticclat/data/ponyland_mreynaert_TICCLAT/ALPH/nld.aspell.dict.clip20.lc.LD3.charconfus.clip20.lc.chars')

After that, you can check whether the delete step itself worked, e.g. it should be something like:

```sql
mysql> select * from anahashes;
Empty set (0.00 sec)

mysql> select * from wordforms;
+-------------+----------+------------+--------------------+
| wordform_id | wordform | anahash_id | wordform_lowercase |
+-------------+----------+------------+--------------------+
|           1 | wf1      |       NULL | wf1                |
|           2 | wf2      |       NULL | wf2                |
|           3 | wf3      |       NULL | wf3                |
|           4 | wf4      |       NULL | wf4                |
|           5 | wf5      |       NULL | wf5                |
|           6 | wf6      |       NULL | wf6                |
+-------------+----------+------------+--------------------+
6 rows in set (0.00 sec)
```